/.editorconfig                      export-ignore
/.gitattributes                     export-ignore
/.github                            export-ignore
/.gitignore                         export-ignore
/composer-dependency-analyser.php   export-ignore
/ecs.php                            export-ignore
/infection.json5                    export-ignore
/node_modules                       export-ignore
/phpstan.neon                       export-ignore
/phpunit.xml.dist                   export-ignore
/README.md                          export-ignore
/rector.php                         export-ignore
/tests                              export-ignore
/UPGRADE.md                         export-ignore
